<div class="dialog-container">
    <div class="dialog-icon"><mat-icon class="icon-1-5x" [color]="isDarkThemeActive ? 'accent' : ''">warning_amber</mat-icon></div>
    <div class="dialog-title"><h2 mat-dialog-title style="padding-left: 12px;">{{title}}</h2></div>
    <div class="dialog-content">
        <mat-dialog-content [innerHtml]="message"></mat-dialog-content>
    </div>
    <div class="dialog-actions">
        <mat-dialog-actions align="end">
            <button mat-button (click)="onDismiss()">No</button>
            <button mat-button (click)="onConfirm()">Yes</button>
        </mat-dialog-actions>
    </div>
</div>