<mat-toolbar class="mat-elevation-z6" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon class="icon-1-5x">view_in_ar</mat-icon>
    </button>
    <span>Trading Toolbox</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button matTooltip="Add New Position">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Edit Selected Positions">
      <mat-icon>app_registration</mat-icon>
    </button>
    <span class="toolbar-button-spacer">|</span>
    <button mat-icon-button matTooltip="Delete Selected Positions">
      <mat-icon>delete</mat-icon>
    </button>
    <span class="toolbar-button-spacer">|</span>
    <button mat-icon-button [matMenuTriggerFor]="appMenuComplete">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #appMenuComplete="matMenu">
      <button mat-menu-item>
        <mat-icon>palette</mat-icon>
        <span>
          <mat-slide-toggle [checked]="isDarkThemeActive" (change)="toggleTheme($event.checked)" labelPosition="before">
            Dark Theme
          </mat-slide-toggle>
        </span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="dashboard-container">
  <!-- <div class="dashboard-body">
    <section>
      <div class="example-label">Basic</div>
      <div class="example-button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Raised</div>
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Stroked</div>
      <div class="example-button-row">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Flat</div>
      <div class="example-button-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Icon</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
          </button>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
          <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <button mat-flat-button color="primary" (click)="testConfirmationDialog()">Test Confirmation Dialog
        Implementation</button>
    </section>
    <mat-divider></mat-divider>
    <button mat-stroked-button color="primary" (click)="showSuccessSnackbar()">Success</button>
    <button mat-stroked-button color="primary" (click)="showInformationSnackbar()">Information</button>
    <button mat-stroked-button color="primary" (click)="showWarningSnackbar()">Warning</button>
    <button mat-stroked-button color="primary" (click)="showErrorSnackbar()">Error</button>
    <button mat-stroked-button color="primary" (click)="showHelpSnackbar()">Help</button>
  </div> -->

  <mat-table id="dashboardTable" [dataSource]="dataSource"
  cdkDropList
  [cdkDropListData]="dataSource.filteredData"
  (cdkDropListDropped)="onCdkDropListDropped($event)">


             <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <mat-header-cell class="mat-column-select" *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                        Position Name
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell class="mat-column-select" *matCellDef="let element">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
                        {{element.name}}
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
                      <!-- Position Value Column -->
            <ng-container matColumnDef="initialValue">
              <mat-header-cell class="mat-column-position-value" *matHeaderCellDef>Initial Value</mat-header-cell>
              <mat-cell class="mat-column-position-value" *matCellDef="let element">{{element.initialValue | currencyExtended: 'symbol' : '1.0-4'}} </mat-cell>
          </ng-container>

          <!-- Share Price Column -->
          <ng-container matColumnDef="pricePerShare">
              <mat-header-cell class="mat-column-share-price" *matHeaderCellDef>$ / Share</mat-header-cell>
              <mat-cell class="mat-column-share-price" *matCellDef="let element">{{element.pricePerShare | currencyExtended: 'symbol' : '1.0-4'}} </mat-cell>
          </ng-container>

          <!-- Position Size Column -->
          <ng-container matColumnDef="sizeOfPosition">
              <mat-header-cell class="mat-column-postion-size" *matHeaderCellDef># Shares<br />1 Position</mat-header-cell>
              <mat-cell class="mat-column-postion-size" *matCellDef="let element">{{element.numberOfSharesInPosition | number: '1.0-6'}} </mat-cell>
          </ng-container>

          <!-- Lot Size Column -->
          <ng-container matColumnDef="averageNumberOfSharesPerLot">
              <mat-header-cell class="mat-column-lot-size" *matHeaderCellDef>Ave. #<br />Shares / Lot</mat-header-cell>
              <mat-cell class="mat-column-lot-size" *matCellDef="let element">{{element.averageNumberOfSharesPerLot | number: '1.0-6'}} </mat-cell>
          </ng-container>

          <!-- Ave. Positions / Day Column -->
          <ng-container matColumnDef="averageNumberOfPositionsPerDay">
              <mat-header-cell class="mat-column-ave-positions-per-day" *matHeaderCellDef>Ave. #<br/>Positions / Day</mat-header-cell>
              <mat-cell class="mat-column-ave-positions-per-day" *matCellDef="let element">{{element.averageNumberOfPositionsPerDay | number: '1.0'}}
              </mat-cell>
          </ng-container>

          <!-- Ave. Lots / Position Column -->
          <ng-container matColumnDef="averageNumberOfLotsPerPosition">
              <mat-header-cell class="mat-column-ave-lots-per-position" *matHeaderCellDef>Ave. #<br/>Lots / Position</mat-header-cell>
              <mat-cell class="mat-column-ave-lots-per-position" *matCellDef="let element">{{element.averageNumberOfLotsPerPosition | number: '1.0'}}
              </mat-cell>
          </ng-container>

          <!-- Bot Indicator Column -->
          <ng-container matColumnDef="botIndicator">
              <mat-header-cell class="mat-column-bot-indicator" *matHeaderCellDef></mat-header-cell>
              <mat-cell class="mat-column-bot-indicator" *matCellDef="let element">
                  <mat-icon class="highlight" *ngIf="element.isBotCandidate" matTooltip="{{element.botCandidateMessage}}">smart_toy</mat-icon>
              </mat-cell>
          </ng-container>

          <!-- Estimated Success Rate Column -->
          <ng-container matColumnDef="estimatedSuccessRate">
              <mat-header-cell class="mat-column-estimated-success-rate" *matHeaderCellDef matTooltip="The estimated success rate is simply the number of successful 'asks' (i.e. sales) for a position's lots. It assumes only ONE successful 'bid' to get into a position.">Est. Trade<br />Success Rate
              </mat-header-cell>
              <mat-cell class="mat-column-estimated-success-rate" *matCellDef="let element">{{element.estimatedSuccessRate | percent: '1.0-3'}}</mat-cell>
          </ng-container>

          <!-- Target Gain Column -->
          <ng-container matColumnDef="targetGain">
              <mat-header-cell class="mat-column-target-gain-per-position" *matHeaderCellDef>Target %<br/>Gain / Position</mat-header-cell>
              <mat-cell class="mat-column-target-gain-per-position" *matCellDef="let element">{{element.targetGain | percent: '1.0-3'}}</mat-cell>
          </ng-container>

          <!-- Ave. Lot Gain Column -->
          <ng-container matColumnDef="averageGainPerLot">
              <mat-header-cell class="mat-column-ave-gain-per-lot" *matHeaderCellDef>Ave. %<br/>Gain / Lot</mat-header-cell>
              <mat-cell class="mat-column-ave-gain-per-lot" *matCellDef="let element">{{element.averageGainPerLot | percent: '1.0-3'}}</mat-cell>
          </ng-container>

          <!-- Ave. # Trading Days / Week Column -->
          <ng-container matColumnDef="averageNumberOfTradingDaysPerWeek">
              <mat-header-cell class="mat-column-ave-number-trading-days-per-week" *matHeaderCellDef>Ave. # Trading<br/> Days / Week</mat-header-cell>
              <mat-cell class="mat-column-ave-number-trading-days-per-week" *matCellDef="let element">{{element.averageNumberOfTradingDaysPerWeek}} </mat-cell>
          </ng-container>

          <!-- Expenses Column -->
          <ng-container matColumnDef="expenses">
              <mat-header-cell class="mat-column-expenses" *matHeaderCellDef>Ave. Monthly<br />Expenses</mat-header-cell>
              <mat-cell class="mat-column-expenses" *matCellDef="let element">{{-1* element.expenses | currencyExtended: 'symbol' : '1.0'}}</mat-cell>
          </ng-container>

          <!-- Effective Tax Rate Column -->
          <ng-container matColumnDef="effectiveTaxRate">
              <mat-header-cell class="mat-column-effective-tax" *matHeaderCellDef>Tax %</mat-header-cell>
              <mat-cell class="mat-column-effective-tax"  *matCellDef="let element">{{element.effectiveTaxRate | percent: '1.0-2'}}</mat-cell>
          </ng-container>

          <!-- Fees Column -->
          <ng-container matColumnDef="estimatedFeePerTransaction">
              <mat-header-cell class="mat-column-fees" *matHeaderCellDef>Fees</mat-header-cell>
              <mat-cell class="mat-column-fees" *matCellDef="let element">{{-1*element.estimatedFeePerTransaction | currencyExtended}}
              </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row" [cdkDragDisabled]="!allowDragDrop"></mat-row>
          <div *cdkDragPlaceholder></div>
</mat-table>
</div>
