mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
}

.header-logo-icon {
  font-size: 48px !important; //make it bigger, the default being 24px. 
  width: 48px; //Do not forget to adjust the 
  height: 48px; //height and/or the width, as in the demo

  margin: 10px 5px 10px 0px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.content {
  padding: 16px;
  min-height: 100vh;
}