.section-header {
  font-weight: bold;
  font-size: medium;
  padding-bottom: 5px;
}

.form-input-field {
  width: 275px;
}

.form-select-field {
  width: 15px;
}

.slider-value-highlight {
  text-decoration: underline;
}
